<!DOCTYPE html>
<html>
<head>
	<title>Prueba athinker</title>
	<style type="text/css">
		#user-list {
			border: 1px solid lightgrey;
			padding: 10px;
			width: 300px;
			list-style: none;
			padding: 0;
			margin: 0;
			margin: auto;
			border-radius: 3px;
		}

		#user-list li {
			padding: 10px;
			text-align: center;
		}

		#user-list li:hover {
			background: lightgrey;
			cursor: pointer;
		}
        
        fieldset {border: none;}
        fieldset label,
        fieldset input {display: block; padding: 5px;}
	</style>
</head>
<body>

	<ul id="user-list"></ul>
	<button class="sync">Synchronize</button>
    
    <fieldset id="new-user">
        <label>Name</label>
        <input type="text" class="name">
        <label>Last Name</label>
        <input type="text" class="lastname">
        <label>Phone</label>
        <input type="text" class="phone">
        <label>Other</label>
        <input type="text" class="other">
        <button class="insert-user">Insert new user</button>
    </fieldset>
    
	

	<script type="text/javascript" src="javascripts/app/core/athinker.core.js"></script>
	<script type="text/javascript" src="javascripts/app/core/athinker.model.js"></script>
	<script type="text/javascript" src="javascripts/app/core/athinker.repository.js"></script>
	<script type="text/javascript" src="javascripts/app/libs/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="javascripts/app/testmodel.js"></script>
	<script type="text/javascript" src="javascripts/app/testrepository.js"></script>
	<script type="text/javascript" src="javascripts/app/testjsreal.js"></script>
</body>
</html>